{% with recent=recipes %}
{% if recent %}
{% for recipe in recent |sortdesc:'date'|slice:':4' %}
<div class="col-md-3" style="margin-bottom:1.0em;">
	<div class="card bg-light mb-3" style="min-height:100%;">
		<div class="card-header">Recent Recipe</div>
		<div class="card-body">
			<h4 class="card-title"><a href="{{site_root}}recipes/{{recipe.id}}.html">{{ recipe.title }}</a></h4>
			<p class="card-text">{{recipe.blurb}}</p>
		</div>
		<div class="card-footer text-muted">
			<small>{{ recipe.date }}</small>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}
